@model AccountingCarsConfigurations.Models.BodyType;
@{
	ViewData["Title"] = "Редактирование информации о типе кузова";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Редактирование информации о типе кузова</title>
	<link rel="stylesheet" href="~/css/BodyTypesStyle.css" />
</head>
<body>
	<h1>Добавление типе кузова</h1>
	<hr class="line-divider" />

	<form method="post" asp-action="Edit">
		<div class="mb-3">
			<input type="hidden" name="Id" value="@Model.Id" />
			<label for="Name" class="form-label">Наименования типа кузова</label>
			<input type="text" class="form-control" id="Name" name="Name"
				   placeholder="Введите наименование типа кузова"
				   value="@Model.Name" required>
		</div>
		<div>
			<button type="submit" class="default-button">Применить изменения</button>
			<a class="default-button" href="/BodyTypes/Index">Отмена</a>
		</div>
	</form>
</body>
</html>
