@{
	ViewData["Title"] = "Автомобили";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Список автомобилей</title>
    <link rel="stylesheet" href="~/css/CarsList.css"/>
</head>
<body>
    <h1>Автомобили</h1>
    <div class="car-tile">
        <div class="car-details">
            <h3>Марка и модель автомобиля 1</h3>
            <p>Год: 2023</p>
            <p>Цена: $50,000</p>
        </div>
    </div>

    <div class="car-tile">
        <div class="car-details">
            <h3>Марка и модель автомобиля 2</h3>
            <p>Год: 2023</p>
            <p>Цена: $40,000</p>
        </div>
    </div>

    <div class="car-tile">
        <div class="car-details">
            <h3>Марка и модель автомобиля 3</h3>
            <p>Год: 2023</p>
            <p>Цена: $60,000</p>
        </div>
    </div>
</body>
</html>
