@{
	ViewData["Title"] = "Ой-ой";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ой-ой</title>
	<link rel="stylesheet" href="~/css/ConfigurationCompositionStyle.css" />
</head>
<body>
	<h1>Демонстрация составов комплектаций недоступна!</h1>
	<div class="message">
		<p>
			Отсутствует информацию о модификациях!<br />
			Добавьте модификацию и повторите попытку
		</p>
		<a class="default-button" href="/ConfigurationCompositions/Create">Перейти к добавлению автомобилей</a>
		<a class="default-button" href="/Cars/Index">Вернуться на главную</a>
	</div>
</body>
</html>
