@{
	ViewData["Title"] = "Главное меню";
}

@*<!DOCTYPE html>
<html>
<head>
	<title>Главное меню</title>
	<link rel="stylesheet" href="~/css/MainMenuStyle.css">
</head>
<body>
	<div class="menu">
		<h1>Меню</h1>
		<a class="default-button" href="/BodyTypes">Типы кузова</a>
		<a class="default-button" href="/Cars">Автомобили</a>
		<a class="default-button" href="/Categories">Категории модификаций</a>
		<a class="default-button" href="/ConfigurationCompositions">Составы комплектаций</a>
		<a class="default-button" href="/Configurations">Комплектации</a>
		<a class="default-button" href="/ConfigurationSets">Наборы комплектаций</a>
		<a class="default-button" href="/Manufacturers">Производители</a>
		<a class="default-button" href="/Models">Модели</a>
		<a class="default-button" href="/Modifications">Модификации</a>
	</div>
</body>
</html>
*@

