@{
	ViewData["Title"] = "Ой-ой";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ой-ой</title>
	<link rel="stylesheet" href="~/css/AuthStyle.css" />
</head>
<body>
	<h1>Неверные логин или пароль!</h1>
	<div class="message">
		<a class="default-button" href="/Auth">Повторить попытку</a>
		<a class="default-button" href="/Cars">Продолжить без аутентификации</a>
	</div>
</body>
</html>