@model AccountingCarsConfigurations.Models.Configuration;
@{
	ViewData["Title"] = "Редактирование сведений о комплектации";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Редактирование сведений о комплектации</title>
	<link rel="stylesheet" href="~/css/ConfigurationStyle.css" />
</head>
<body>
	<h1>Добавление комплектации</h1>
	<hr class="line-divider" />

	<form method="post" asp-action="Edit">
		<input type="hidden" id="Id" name="Id" value="@Model.Id">
		<div class="mb-3">
			<label for="Name" class="form-label">Наименование комплектации</label>
			<input type="text" class="form-control" id="Name" name="Name" placeholder="Введите наименование комплектации" value="@Model.Name" required>
		</div>
		<div class="mb-3">
			<label for="Description" class="form-label">Описание</label>
			<input type="text" class="form-control" id="description" name="Description" placeholder="Описание комплектации" value="@Model.Description" required>
		</div>
		<div>
			<button type="submit" class="default-button">Применить изменения</button>
			<a class="default-button" href="/Configurations/Index">Отмена</a>
		</div>
	</form>
</body>
</html>